#root {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.app {
    margin-top: 50px;
}



.character-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-top: 53px;
    margin-bottom: 45px;
}
