.single-char-page-wrapper {
    display: flex;
    margin-bottom: 150px;
    margin-top: 50px;
}

.single-char-page-wrapper img {
    width: 293px;
}

.single-char-page-info {
    margin-left: 50px;
    font-size: 18px;
    width: 550px;
    text-align: left;
}

.single-char-page-paragraph {
    margin-top: 28px;
}
